@model Model.DBModel.Alumno

@{
    Layout = "~/Views/Shared/Layout.cshtml";
    @*ViewBag.Title = (Model.id > 0 ? Model.Nombre +" "+Model.Apellido : "Nuevo Registro");*@
}

<ol class="breadcrumb">
    <li><a href="~/">Alumnos</a></li>
    @*<li class="active">@(Model.id > 0 ? Model.Nombre +" "+ Model.Apellido : "Nuevo Registro" )</li>*@
</ol>

@using (Html.BeginForm("Guardar", "Home", FormMethod.Post, new { id = "frm-alumno" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true,"", new {@class = "text-danger" })

    @Html.HiddenFor(x => x.id)
    
    <div class="panel panel-default">
        <div class="panel-heading">Informacion Personal</div>
        <div class="panel-body">

            <fieldset>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Nombre)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.Apellido)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Apellido)
                    @Html.ValidationMessageFor(model => model.Apellido)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Sexo)
                </div>
               
                <div class="editor-field">
                    <select>
                        <option @(Model.Sexo == 1 ? "selected" : "" ) value="1">Masculino</option>
                        <option @(Model.Sexo == 2 ? "selected" : "" ) value="2">Femenino</option>
                    </select>
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.FechaNacimiento)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.FechaNacimiento)
                    @Html.ValidationMessageFor(model => model.FechaNacimiento)
                </div>

                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
               
            </fieldset>

        </div>
    </div>
    
     
}


